In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
data_path = "/media/jionie/my_disk/Kaggle/Bengaliai/input/bengaliai-cv19"
train_df = pd.read_csv(data_path + '/train.csv')

In [23]:
train_df.head()

  image_id  grapheme_root  vowel_diacritic  consonant_diacritic grapheme
0  Train_0             15                9                    5   ক্ট্রো
1  Train_1            159                0                    0        হ
2  Train_2             22                3                    5     খ্রী
3  Train_3             53                2                    2     র্টি
4  Train_4             71                9                    5     থ্রো

In [24]:
class_map = pd.DataFrame() 
class_map['grapheme'] = train_df['grapheme'].unique()
class_map['label'] = np.array([i for i in range(len(class_map))])

In [25]:
grapheme_list = list(class_map['grapheme'])

In [29]:
grapheme_root_list = []
vowel_diacritic_list = []
consonant_diacritic_list = []
for grapheme in grapheme_list:
    grapheme_root = train_df[train_df['grapheme'] == grapheme]['grapheme_root'].values[0]
    vowel_diacritic = train_df[train_df['grapheme'] == grapheme]['vowel_diacritic'].values[0]
    consonant_diacritic = train_df[train_df['grapheme'] == grapheme]['consonant_diacritic'].values[0]
    
    grapheme_root_list.append(grapheme_root)
    vowel_diacritic_list.append(vowel_diacritic)
    consonant_diacritic_list.append(consonant_diacritic)

In [30]:
class_map['grapheme_root'] = np.array(grapheme_root_list)
class_map['vowel_diacritic'] = np.array(vowel_diacritic_list)
class_map['consonant_diacritic'] = np.array(consonant_diacritic_list)

In [31]:
class_map.to_csv("grapheme_1295.csv")

In [6]:
class_map = pd.read_csv(data_path + '/grapheme_1295.csv')

In [7]:
class_map.head()

,Unnamed: 0,grapheme,label,grapheme_root,vowel_diacritic,consonant_diacritic
0,0,ক্ট্রো,0,15,9,5
1,1,হ,1,159,0,0
2,2,খ্রী,2,22,3,5
3,3,র্টি,3,53,2,2
4,4,থ্রো,4,71,9,5

In [17]:
def decode(prediction, class_map):
    
    p0, p1, p2, p3 = prediction[0], prediction[1], prediction[2], prediction[3]
    
    for b in range(p0.shape[0]):
        
        p0[b] = class_map[class_map['label'] == p3[b]]['grapheme_root'].values[0]
        p1[b] = class_map[class_map['label'] == p3[b]]['vowel_diacritic'].values[0]
        p2[b] = class_map[class_map['label'] == p3[b]]['consonant_diacritic'].values[0]
        
    
    return p0,p1,p2,p3

grapheme_root_prediction = np.random.randint(168, size=100)
vowel_diacritic_prediction = np.random.randint(11, size=100)
consonant_diacritic_prediction = np.random.randint(7, size=100)
grapheme_prediction = np.random.randint(1295, size=100)

grapheme_root_prediction_decode, \
vowel_diacritic_prediction_decode, \
consonant_diacritic_prediction_decode, \
grapheme_prediction_decode = decode([grapheme_root_prediction.copy(), vowel_diacritic_prediction.copy(), \
                            consonant_diacritic_prediction.copy(), grapheme_prediction.copy()], class_map)

In [18]:
grapheme_root_prediction

array([ 56,  56, 145,  48,   5,  60, 125,  23,  75, 156,  43,  51,  78,
        27, 149,  37, 115, 109,  10,  36,  60,  64,  69,  14, 162,  36,
        44,  37,  42, 142,  82,  48,  62,  80, 134,  80, 141,  68,   6,
       110, 129,  43, 131,  89,  10,  29,  13, 136, 137, 116,   6, 147,
        79,  59, 162,  23,  95,  24, 124,  70, 167,  28,  53,  46,  11,
        58, 154, 111,  43,  72, 144,  53,  22,  61, 152, 160,  77,  40,
       100,  50,  14, 160,  42,  51,  27,  93,   9,  28,  87,  84, 153,
        83,  35,  95,  99,  45,  27,  83,   5,  56])

In [19]:
grapheme_root_prediction_decode

array([ 28, 133, 138, 154,  72,  59, 123,  30,  86, 165,  92, 159,  49,
        22, 133,  64,  35, 133, 151,  44, 127, 113, 127,  96,  39,  79,
       152,  79,  59, 147, 131,  81, 103,  72,  96,  75, 139,  64, 159,
        43,  43, 108,  31,   9, 119,  71, 115,  90, 148, 120,  64, 161,
        82, 150,  97,  36,  79,  48,  74,  93, 106,  67, 113,  64, 167,
        86, 122, 113,  43,  29,  65,  65, 133,  13, 123, 148,  57, 136,
       139,  64, 147,  52, 165,  38,  64,  29, 149,  69,  56, 159,  50,
       124,  65,  42, 115, 162, 139,  67, 133,  23])

In [29]:
class_map = dict(class_map[['grapheme','label']].values)

In [30]:
train_df['grapheme'] = train_df['grapheme'].map(class_map)

In [3]:
train_image = pd.concat(\
        [pd.read_parquet(os.path.join(data_path, f'train_image_data_{i}.parquet')) for i in range(4)]).reindex()
test_image = pd.concat(\
        [pd.read_parquet(os.path.join(data_path, f'test_image_data_{i}.parquet')) for i in range(4)]).reindex()

In [4]:
train_image.head()

,image_id,0,1,2,3,4,5,6,7,8,...,32322,32323,32324,32325,32326,32327,32328,32329,32330,32331
0,Train_0,254,253,252,253,251,252,253,251,251,...,253,253,253,253,253,253,253,253,253,251
1,Train_1,251,244,238,245,248,246,246,247,251,...,255,255,255,255,255,255,255,255,255,254
2,Train_2,251,250,249,250,249,245,247,252,252,...,254,253,252,252,253,253,253,253,251,249
3,Train_3,247,247,249,253,253,252,251,251,250,...,254,254,254,254,254,253,253,252,251,252
4,Train_4,249,248,246,246,248,244,242,242,229,...,255,255,255,255,255,255,255,255,255,255

In [5]:
train_image.image_id

0             Train_0
1             Train_1
2             Train_2
3             Train_3
4             Train_4
5             Train_5
6             Train_6
7             Train_7
8             Train_8
9             Train_9
10           Train_10
11           Train_11
12           Train_12
13           Train_13
14           Train_14
15           Train_15
16           Train_16
17           Train_17
18           Train_18
19           Train_19
20           Train_20
21           Train_21
22           Train_22
23           Train_23
24           Train_24
25           Train_25
26           Train_26
27           Train_27
28           Train_28
29           Train_29
             ...
50180    Train_200810
50181    Train_200811
50182    Train_200812
50183    Train_200813
50184    Train_200814
50185    Train_200815
50186    Train_200816
50187    Train_200817
50188    Train_200818
50189    Train_200819
50190    Train_200820
50191    Train_200821
50192    Train_200822
50193    Train_200823
50194    Train_200824
50195    Train_200825
50196    Train_200826
50197    Train_200827
50198    Train_200828
50199    Train_200829
50200    Train_200830
50201    Train_200831
50202    Train_200832
50203    Train_200833
50204    Train_200834
50205    Train_200835
50206    Train_200836
50207    Train_200837
50208    Train_200838
50209    Train_200839
Name: image_id, Length: 200840, dtype: object